.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.700195;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.682617;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(17,17,17),0 0.015em rgb(17,17,17),0.015em 0 rgb(17,17,17),0 -0.015em  rgb(17,17,17);}
.sc2{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(17,17,17);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._a{margin-left:-3.974561px;}
._b{margin-left:-2.830500px;}
._1{width:2.283878px;}
._0{width:3.557878px;}
._5{width:4.968000px;}
._9{width:13.200000px;}
._6{width:37.700000px;}
._2{width:40.500000px;}
._4{width:43.300000px;}
._3{width:47.500000px;}
._8{width:55.700000px;}
._7{width:344.474873px;}
.fc0{color:rgb(0,0,0);}
.fc3{color:rgb(255,255,255);}
.fc1{color:rgb(249,0,160);}
.fc4{color:rgb(55,65,81);}
.fc2{color:rgb(17,17,17);}
.fse{font-size:44.399998px;}
.fsd{font-size:46.399998px;}
.fsf{font-size:48.000000px;}
.fs9{font-size:68.000000px;}
.fs8{font-size:70.000000px;}
.fs1{font-size:72.000000px;}
.fsb{font-size:80.000000px;}
.fsa{font-size:82.000000px;}
.fs7{font-size:88.000000px;}
.fs6{font-size:90.000000px;}
.fs2{font-size:96.000000px;}
.fsc{font-size:98.000000px;}
.fs5{font-size:112.000000px;}
.fs4{font-size:114.000000px;}
.fs10{font-size:160.000000px;}
.fs3{font-size:176.000000px;}
.fs0{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y40{bottom:23.066422px;}
.y3f{bottom:44.666422px;}
.y75{bottom:45.620346px;}
.y1e{bottom:55.049316px;}
.y74{bottom:68.660355px;}
.y8a{bottom:70.786148px;}
.y32{bottom:77.415556px;}
.y1d{bottom:82.489319px;}
.y31{bottom:90.375556px;}
.y73{bottom:91.700363px;}
.y8{bottom:94.174393px;}
.y64{bottom:98.535431px;}
.y5{bottom:99.100784px;}
.y89{bottom:99.586151px;}
.y1c{bottom:111.194183px;}
.y38{bottom:111.237598px;}
.y72{bottom:114.740372px;}
.y35{bottom:114.802586px;}
.y81{bottom:119.966660px;}
.y63{bottom:120.135437px;}
.y57{bottom:121.600647px;}
.y7{bottom:123.614395px;}
.y34{bottom:126.790583px;}
.y4f{bottom:127.600616px;}
.y28{bottom:127.649460px;}
.y88{bottom:128.386147px;}
.y4{bottom:128.540787px;}
.y2e{bottom:137.973032px;}
.y33{bottom:140.776580px;}
.y62{bottom:141.735443px;}
.y37{bottom:144.203765px;}
.y30{bottom:144.834528px;}
.y1b{bottom:148.969299px;}
.y27{bottom:151.649460px;}
.y6{bottom:153.054398px;}
.y4e{bottom:156.400620px;}
.y56{bottom:156.400650px;}
.y87{bottom:157.186146px;}
.y3{bottom:157.980789px;}
.y2f{bottom:158.820525px;}
.y61{bottom:163.335449px;}
.y36{bottom:168.100666px;}
.y7d{bottom:168.966675px;}
.y48{bottom:169.280212px;}
.y71{bottom:170.820389px;}
.y1a{bottom:176.409317px;}
.y80{bottom:181.806656px;}
.ya{bottom:183.322556px;}
.y60{bottom:184.935455px;}
.y4d{bottom:185.200623px;}
.y55{bottom:185.200653px;}
.y26{bottom:185.649475px;}
.y12{bottom:186.765350px;}
.y70{bottom:193.860382px;}
.y7c{bottom:194.886673px;}
.y47{bottom:199.520218px;}
.y19{bottom:205.114166px;}
.y5f{bottom:206.535461px;}
.y25{bottom:209.649475px;}
.y2c{bottom:212.846649px;}
.y4c{bottom:214.000626px;}
.y6f{bottom:216.900375px;}
.y11{bottom:217.005356px;}
.y9{bottom:219.242556px;}
.y54{bottom:220.000656px;}
.y7b{bottom:220.806671px;}
.y5e{bottom:228.135460px;}
.y46{bottom:229.760223px;}
.y6e{bottom:239.940369px;}
.y18{bottom:242.889313px;}
.y7f{bottom:243.646652px;}
.y24{bottom:243.649475px;}
.y10{bottom:247.245361px;}
.y4b{bottom:248.800629px;}
.y53{bottom:248.800659px;}
.y5d{bottom:249.735458px;}
.y8b{bottom:250.336681px;}
.y69{bottom:258.646667px;}
.y86{bottom:259.498276px;}
.y45{bottom:260.000229px;}
.y17{bottom:270.329315px;}
.y2{bottom:270.665642px;}
.y5c{bottom:271.335457px;}
.yf{bottom:277.485359px;}
.y52{bottom:277.600655px;}
.y23{bottom:277.649475px;}
.y7a{bottom:282.646667px;}
.y4a{bottom:283.600624px;}
.y3e{bottom:284.541451px;}
.y68{bottom:284.566658px;}
.y2b{bottom:284.686646px;}
.y44{bottom:290.240234px;}
.y5b{bottom:292.935455px;}
.y85{bottom:295.418282px;}
.y6d{bottom:296.020363px;}
.y16{bottom:299.034180px;}
.y7e{bottom:305.486649px;}
.y3d{bottom:306.141441px;}
.ye{bottom:307.725357px;}
.y79{bottom:308.566658px;}
.y67{bottom:310.486656px;}
.y22{bottom:311.649475px;}
.y49{bottom:312.400623px;}
.y51{bottom:312.400654px;}
.y5a{bottom:314.535454px;}
.y6c{bottom:319.060356px;}
.y43{bottom:320.480240px;}
.y84{bottom:331.338287px;}
.y3c{bottom:333.741440px;}
.y78{bottom:334.486656px;}
.y1{bottom:335.465630px;}
.y21{bottom:335.649475px;}
.y59{bottom:336.135452px;}
.y66{bottom:336.406654px;}
.y15{bottom:336.809319px;}
.yd{bottom:337.965359px;}
.y6b{bottom:342.100357px;}
.y3b{bottom:355.341438px;}
.y2a{bottom:356.526634px;}
.y83{bottom:357.258286px;}
.y77{bottom:360.406654px;}
.y42{bottom:360.720238px;}
.y14{bottom:364.249321px;}
.y65{bottom:368.146091px;}
.yc{bottom:368.205359px;}
.y20{bottom:369.649475px;}
.y6a{bottom:370.868750px;}
.y2d{bottom:375.338186px;}
.y58{bottom:381.533485px;}
.y3a{bottom:382.941437px;}
.y50{bottom:385.182787px;}
.y41{bottom:390.960239px;}
.y76{bottom:392.146091px;}
.y13{bottom:392.954178px;}
.y82{bottom:393.178286px;}
.y29{bottom:395.257122px;}
.y39{bottom:404.541435px;}
.y1f{bottom:404.569370px;}
.yb{bottom:444.316334px;}
.hc{height:32.367772px;}
.ha{height:33.825780px;}
.hb{height:34.992188px;}
.h7{height:51.030273px;}
.h2{height:52.488281px;}
.hd{height:54.000000px;}
.h9{height:60.000000px;}
.h10{height:64.152344px;}
.h6{height:66.000000px;}
.h3{height:69.984375px;}
.h8{height:72.000000px;}
.hf{height:81.648438px;}
.he{height:83.106445px;}
.h5{height:84.000000px;}
.h11{height:116.640625px;}
.h4{height:128.304688px;}
.h1{height:174.960938px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x19{left:49.503769px;}
.x17{left:55.021820px;}
.x20{left:62.123077px;}
.x1b{left:63.224319px;}
.x1a{left:67.503769px;}
.xb{left:73.200012px;}
.x4{left:81.028824px;}
.x1c{left:85.724319px;}
.xf{left:87.879051px;}
.xc{left:91.200012px;}
.xe{left:102.114258px;}
.xd{left:109.199921px;}
.x5{left:110.528816px;}
.x11{left:125.728079px;}
.x1f{left:127.200012px;}
.x10{left:137.040577px;}
.x3{left:147.153809px;}
.x12{left:236.020386px;}
.x13{left:240.520386px;}
.x14{left:287.556812px;}
.x18{left:296.350769px;}
.x2{left:325.341278px;}
.x1{left:332.091278px;}
.x21{left:346.750000px;}
.x9{left:361.903839px;}
.x15{left:392.786285px;}
.xa{left:408.841331px;}
.x16{left:417.615622px;}
.x1d{left:553.351990px;}
.x1e{left:589.351990px;}
.x7{left:724.928444px;}
.x8{left:732.644264px;}
.x6{left:750.769257px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._a{margin-left:-5.299415pt;}
._b{margin-left:-3.774000pt;}
._1{width:3.045171pt;}
._0{width:4.743837pt;}
._5{width:6.624000pt;}
._9{width:17.600000pt;}
._6{width:50.266667pt;}
._2{width:54.000000pt;}
._4{width:57.733333pt;}
._3{width:63.333333pt;}
._8{width:74.266667pt;}
._7{width:459.299831pt;}
.fse{font-size:59.199997pt;}
.fsd{font-size:61.866664pt;}
.fsf{font-size:64.000000pt;}
.fs9{font-size:90.666667pt;}
.fs8{font-size:93.333333pt;}
.fs1{font-size:96.000000pt;}
.fsb{font-size:106.666667pt;}
.fsa{font-size:109.333333pt;}
.fs7{font-size:117.333333pt;}
.fs6{font-size:120.000000pt;}
.fs2{font-size:128.000000pt;}
.fsc{font-size:130.666667pt;}
.fs5{font-size:149.333333pt;}
.fs4{font-size:152.000000pt;}
.fs10{font-size:213.333333pt;}
.fs3{font-size:234.666667pt;}
.fs0{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y40{bottom:30.755229pt;}
.y3f{bottom:59.555229pt;}
.y75{bottom:60.827128pt;}
.y1e{bottom:73.399089pt;}
.y74{bottom:91.547139pt;}
.y8a{bottom:94.381531pt;}
.y32{bottom:103.220741pt;}
.y1d{bottom:109.985758pt;}
.y31{bottom:120.500741pt;}
.y73{bottom:122.267151pt;}
.y8{bottom:125.565857pt;}
.y64{bottom:131.380575pt;}
.y5{bottom:132.134379pt;}
.y89{bottom:132.781535pt;}
.y1c{bottom:148.258911pt;}
.y38{bottom:148.316798pt;}
.y72{bottom:152.987162pt;}
.y35{bottom:153.070114pt;}
.y81{bottom:159.955546pt;}
.y63{bottom:160.180583pt;}
.y57{bottom:162.134196pt;}
.y7{bottom:164.819194pt;}
.y34{bottom:169.054110pt;}
.y4f{bottom:170.134155pt;}
.y28{bottom:170.199280pt;}
.y88{bottom:171.181529pt;}
.y4{bottom:171.387716pt;}
.y2e{bottom:183.964043pt;}
.y33{bottom:187.702106pt;}
.y62{bottom:188.980591pt;}
.y37{bottom:192.271687pt;}
.y30{bottom:193.112704pt;}
.y1b{bottom:198.625732pt;}
.y27{bottom:202.199280pt;}
.y6{bottom:204.072530pt;}
.y4e{bottom:208.534159pt;}
.y56{bottom:208.534200pt;}
.y87{bottom:209.581528pt;}
.y3{bottom:210.641052pt;}
.y2f{bottom:211.760700pt;}
.y61{bottom:217.780599pt;}
.y36{bottom:224.134221pt;}
.y7d{bottom:225.288900pt;}
.y48{bottom:225.706950pt;}
.y71{bottom:227.760518pt;}
.y1a{bottom:235.212423pt;}
.y80{bottom:242.408875pt;}
.ya{bottom:244.430074pt;}
.y60{bottom:246.580607pt;}
.y4d{bottom:246.934163pt;}
.y55{bottom:246.934204pt;}
.y26{bottom:247.532633pt;}
.y12{bottom:249.020467pt;}
.y70{bottom:258.480509pt;}
.y7c{bottom:259.848897pt;}
.y47{bottom:266.026957pt;}
.y19{bottom:273.485555pt;}
.y5f{bottom:275.380615pt;}
.y25{bottom:279.532633pt;}
.y2c{bottom:283.795532pt;}
.y4c{bottom:285.334167pt;}
.y6f{bottom:289.200500pt;}
.y11{bottom:289.340474pt;}
.y9{bottom:292.323407pt;}
.y54{bottom:293.334208pt;}
.y7b{bottom:294.408895pt;}
.y5e{bottom:304.180613pt;}
.y46{bottom:306.346965pt;}
.y6e{bottom:319.920492pt;}
.y18{bottom:323.852417pt;}
.y7f{bottom:324.862203pt;}
.y24{bottom:324.865967pt;}
.y10{bottom:329.660482pt;}
.y4b{bottom:331.734172pt;}
.y53{bottom:331.734212pt;}
.y5d{bottom:332.980611pt;}
.y8b{bottom:333.782242pt;}
.y69{bottom:344.862223pt;}
.y86{bottom:345.997701pt;}
.y45{bottom:346.666972pt;}
.y17{bottom:360.439087pt;}
.y2{bottom:360.887522pt;}
.y5c{bottom:361.780609pt;}
.yf{bottom:369.980479pt;}
.y52{bottom:370.134206pt;}
.y23{bottom:370.199300pt;}
.y7a{bottom:376.862223pt;}
.y4a{bottom:378.134165pt;}
.y3e{bottom:379.388601pt;}
.y68{bottom:379.422211pt;}
.y2b{bottom:379.582194pt;}
.y44{bottom:386.986979pt;}
.y5b{bottom:390.580607pt;}
.y85{bottom:393.891042pt;}
.y6d{bottom:394.693817pt;}
.y16{bottom:398.712240pt;}
.y7e{bottom:407.315531pt;}
.y3d{bottom:408.188588pt;}
.ye{bottom:410.300476pt;}
.y79{bottom:411.422211pt;}
.y67{bottom:413.982208pt;}
.y22{bottom:415.532633pt;}
.y49{bottom:416.534164pt;}
.y51{bottom:416.534205pt;}
.y5a{bottom:419.380605pt;}
.y6c{bottom:425.413808pt;}
.y43{bottom:427.306986pt;}
.y84{bottom:441.784383pt;}
.y3c{bottom:444.988586pt;}
.y78{bottom:445.982208pt;}
.y1{bottom:447.287506pt;}
.y21{bottom:447.532633pt;}
.y59{bottom:448.180603pt;}
.y66{bottom:448.542206pt;}
.y15{bottom:449.079091pt;}
.yd{bottom:450.620478pt;}
.y6b{bottom:456.133809pt;}
.y3b{bottom:473.788584pt;}
.y2a{bottom:475.368846pt;}
.y83{bottom:476.344381pt;}
.y77{bottom:480.542206pt;}
.y42{bottom:480.960317pt;}
.y14{bottom:485.665761pt;}
.y65{bottom:490.861455pt;}
.yc{bottom:490.940478pt;}
.y20{bottom:492.865967pt;}
.y6a{bottom:494.491666pt;}
.y2d{bottom:500.450915pt;}
.y58{bottom:508.711314pt;}
.y3a{bottom:510.588582pt;}
.y50{bottom:513.577049pt;}
.y41{bottom:521.280319pt;}
.y76{bottom:522.861455pt;}
.y13{bottom:523.938904pt;}
.y82{bottom:524.237714pt;}
.y29{bottom:527.009496pt;}
.y39{bottom:539.388580pt;}
.y1f{bottom:539.425827pt;}
.yb{bottom:592.421778pt;}
.hc{height:43.157029pt;}
.ha{height:45.101039pt;}
.hb{height:46.656250pt;}
.h7{height:68.040365pt;}
.h2{height:69.984375pt;}
.hd{height:72.000000pt;}
.h9{height:80.000000pt;}
.h10{height:85.536458pt;}
.h6{height:88.000000pt;}
.h3{height:93.312500pt;}
.h8{height:96.000000pt;}
.hf{height:108.864583pt;}
.he{height:110.808594pt;}
.h5{height:112.000000pt;}
.h11{height:155.520833pt;}
.h4{height:171.072917pt;}
.h1{height:233.281250pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x19{left:66.005025pt;}
.x17{left:73.362427pt;}
.x20{left:82.830770pt;}
.x1b{left:84.299093pt;}
.x1a{left:90.005025pt;}
.xb{left:97.600016pt;}
.x4{left:108.038432pt;}
.x1c{left:114.299093pt;}
.xf{left:117.172068pt;}
.xc{left:121.600016pt;}
.xe{left:136.152344pt;}
.xd{left:145.599894pt;}
.x5{left:147.371755pt;}
.x11{left:167.637438pt;}
.x1f{left:169.600016pt;}
.x10{left:182.720769pt;}
.x3{left:196.205078pt;}
.x12{left:314.693848pt;}
.x13{left:320.693848pt;}
.x14{left:383.409083pt;}
.x18{left:395.134359pt;}
.x2{left:433.788371pt;}
.x1{left:442.788371pt;}
.x21{left:462.333333pt;}
.x9{left:482.538452pt;}
.x15{left:523.715047pt;}
.xa{left:545.121775pt;}
.x16{left:556.820829pt;}
.x1d{left:737.802653pt;}
.x1e{left:785.802653pt;}
.x7{left:966.571259pt;}
.x8{left:976.859019pt;}
.x6{left:1001.025675pt;}
}
